body {
	width: 500px;
	margin: 0 auto;
}
div {
	margin-top: 20px;
}
div:nth-of-type(1) {
	margin-top: 70px;
}
button#rand {
	background: none;
	border: 1px solid gainsboro;
	width: 200px;
	height: 30px;
	border-radius: 10px;
	letter-spacing: 1px;
}

