/*去除head的空间*/
/*第一页*/
* {
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida 
}
header {
	background: url(../img/headerBackground.jpg) no-repeat top;
	background-size: 100% 100%;
	/*跟下面相差40px*/
	padding-bottom: 40px;  
}
.header-title {
	font-size: 4rem;
	text-align: center;
	color: white;
	padding: 70px;
	
}
.header-des {
	font-size: 1.1rem;
	color: white;
	width: 50%;
	text-align: center;
	margin: 0 auto;   /*中间居中*/
	opacity: 0.5;  
}

.header-div {
	width: 60%;
	border: 1px solid rgba(255, 255, 255, 0.5);
	margin: 70px auto;
	margin-bottom: 40px;

}
.header-div-title {
	color: white;
	font-size: 1.5rem;
	text-align: center;
	padding-top: 40px;
	text-transform: uppercase;
}
.header-div-small {
	color: white;
	font-size: 1rem;
	text-align: center;
	opacity: 0.5;
	padding-top: 10px;
}
header div.header-div2 {
	width: 80%;
	margin: 30px auto;
}
header div input {
	width: 37%;
	height: 40px;
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	background: rgba(0, 0, 0, 0);
	margin-right: 15px;
	padding-left: 10px;

}
header div button {
	width: 15%;
	height: 40px;
	border-radius: 4px;
	border: 0;
	font-size: 0.5rem;
	background: rgb(255, 255, 255);
}

/*第二页*/
.article1 {
	width: 100%;
	height: auto;
	padding-bottom: 60px;
}
/*section .article-awesome {
	width: 100%;
	height: auto;
}*/

section .article-awesome-p1 {
	text-transform: uppercase;
	font-size: 0.9rem;
	text-align: center;
	padding-top: 50px;
}
section .article-awesome-p2 {
	width: 50%;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-size: 2.5rem;
	text-align: center;
	margin: 0 auto;
	padding-top: 15px;
}
section .article-div {
	padding-top: 50px;
	margin-left: 18%;
}
section .article-section-div {
	width: 40%;
	height: 100px;
	display: inline-block;
}
section .article-section-div1 {
	width: 12%;
	height: auto;
	display: inline-block;
	float: left;
}
section .article-section-div1 img{
	width: 86%;
	height: auto;
}
section .article-section-div2 {
	width: 72%;
	height: auto;
	display: inline-block;
	float: left;
}
section .article-section-div2 p{
	opacity: 0.7;
	padding-top: 7px;
	font-size: 0.9rem;
}

/*第三页*/

.article2 {
	background: url(../img/headerBackground.jpg) no-repeat;
	background-size: 100% 100%;
	padding-bottom: 60px;
}
.article2-section {
	display: flex;
}
.article2 .article2-total-div12 {
	flex: 1;
	padding-bottom: 60px;
}
article div.article2-section-div1 {
	width: 80%;
	height: auto;
	margin-left: 10%;
	padding-top: 200px;
}
article div p.article2-section-div-p1 {
	color: white;
	font-size: 2rem;
}
article div p.article2-section-div-p2 {
	color: white;
	font-size: 0.9rem;
	opacity: 0.7;
	margin-top: 20px;
}
article div.article2-section-div2 {
	width: 100%;
	height: auto;
	margin-left: 10%;
	padding-top: 40px;
}
article div button.article2-section-div-button1 {
	width: 40%;
	height: 60px;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	background-color: white;
	/*margin-right: 30px;*/
	font-size: 0.7rem;
}
article div button.article2-section-div-button2 {
	width: 45%;
	height: 60px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	border: 1px solid rgba(255, 255, 255, 0.5);
	background: rgba(0, 0, 0, 0);
	font-size: 0.7rem;
	
}

article div.article2-section-div3 {
	flex: 2;
	border: 1px solid rgba(255,255,255,0.5);
	margin: 5px 0px 0px 5px;
	margin-top: 100px;
}
article div.article2-section-div3-div {
	width: 90%;
	height: 400px;
	background-color: white;
	margin: 5%;
}

article div.article2-section-div3-background {
	width: 90%;
	height: auto;
	background-color: white;
}

article div.article2-section-div3-background h3 {
	text-align: center;
}
article div.article2-section-div3-background p.article2-section-div3-background-p {
	text-align: center;
	margin-top: 10px;
}
article div.article2-section-div3-background-div {
	display: flex;
}
article div.article2-section-div3-background-div>div {
	flex: 1;
	height: 240px;
	margin-left: 40px;
	margin-top: 30px;
	border: 1px solid #f0f0f0;
}

article div.article2-section-div3-background div.div-back-des1 div.background {
	width: 100%;
	height: 120px;
	background-color: #2894ff;
}
article div.article2-section-div3-background div.div-back-des2 div.background {
	width: 100%;
	height: 120px;
	background-color: #ff44ff;
}
article div.article2-section-div3-background div.div-back-des3 div.background {
	width: 100%;
	height: 120px;
	background-color: #02c874;
}
article div.article2-section-div3-background div.div-back-des4 div.background {
	width: 100%;
	height: 120px;
	background-color: #c4c400;
}
article div.article2-section-div3-background div.background img{
	width: 50%;
	height: auto;
	display: block;
	text-align: center;
	margin: 0 auto;
	padding-top: 15px;
}


/*第四页*/
.article3 {
	width: 100%;
	height: auto;
	padding-bottom: 100px;
}
.article3 section>p {
	font-size: 2rem;
	text-align: center;
	margin-top: 100px;
	font-weight: 130;
}
.article3 section div.article3-section-div {
	display: flex;
	margin: 100px 200px 0px 160px;
}
.article3 section div.article3-section-div>div {
	flex: 1;
	margin-left: 60px;
	padding-top: 60px;
}
.article3 section div.article3-section-div div p {
	opacity: 0.7;
	text-align: center;
}
.article3 section div.article3-section-div div:nth-of-type(1) {
	background: url(../img/Singleton.png) no-repeat top center;
}
.article3 section div.article3-section-div div:nth-of-type(2) {
	background: url(../img/Hero.png) no-repeat top center;
}
.article3 section div.article3-section-div div:nth-of-type(3) {
	background: url(../img/Portland.png) no-repeat top center;
}

/*第五页*/

.article4 {
	width: 100%;
	height: auto;
	padding-bottom: 100px;
	
}
.article4 section.article4-section {
	margin-top: 70px;
	
}
.article4 div.article4-section-div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 50px 300px;
}
.article4 section div.article4-section-div>img{
	width: 60%;
	height: 60%;
}

.article4 section div.article4-section-div>div{
	flex: 0 1 250px;
}
.article4 section div.article4-section-div div>h4 {
	padding-top: 50px;
}
.article4 section div.article4-section-div div>p {
	opacity: 0.7;
	padding-top: 10px;
	font-size: 0.9rem;
}


/*第六页*/
.article5 {
	width: 100%;
	padding-bottom: 50px;
}
.article5 .article5-totalDiv {
	width: 100%;
	text-align: center;
	margin: 30px;
	
}
.article5 section>h4{
	font-size: 2rem;
	text-align: center;
	margin-top: 90px;
	font-weight: 130;
}
.article5 section>p{
	font-size: 1.1rem;
	text-align: center;
	width: 700px;
	margin: 0 auto;
	margin-top: 30px;
}
.article5 section div.userpic{
	position: relative;
	width: 470px;
	height: 340px;
	margin-bottom: 30px;
	display: inline-block;
}
.article5 section div.userpic>div{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(52, 52, 52, 0.5);
    opacity: 0;
    color: #fff;
    z-index: -1;
    transition: opacity 0.8s ease;
    -webkit-transition: opacity 0.8s ease;
    text-align: center;
}
.article5 section div.userpic:hover div {
    z-index: 1;
    opacity: 1;
}

.article5 section div.userpic h4 {
	padding-top: 120px;
	margin-bottom: 20px;
}

.article5 section div.userpic a {
    display: inline-block;
    margin-top: 50px;
    height: 40px;
    width: 40px;
    color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
}

@font-face {
    font-family: "icon";
    src: url("../fonts/icomoon.eot?vvv237");
    src: url("../fonts/icomoon.eot?vvv237#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?vvv237") format("truetype"), url("../fonts/icomoon.woff?vvv237") format("woff"), url("../fonts/icomoon.svg?vvv237#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}
.icon {
    font-family: "icon";
    margin-right: 20px;
}

.article6 {
	width: 100%;
	padding-bottom: 80px;
}
.article6 div.article6-totalDiv {
	display: flex;
}
.article6 section .article6-div{
	border: 1px solid #d0d0d0;
	border-radius: 7px;
	flex: 1;
	height: 500px;
	margin-top: 70px;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin-left: 80px;
}
.article6 section .article6-div2 {
	flex: 1;
	margin-top: 200px;
	margin-left: 80px;
}
.article6 .article6-div>p{
	text-transform: uppercase;
	font-size: 1.3rem;
	text-align: center;
	padding-top: 60px;
}
.article6 .article6-div form.article6-div-form>input,
.article6 .article6-div form.article6-div-form>textarea{
	width: 70%;
	line-height: 45px;
	padding-left: 6px;
	opacity: 0.7;
	display: flex;
	margin: 0 auto;
	margin-top: 20px;
}
.article6 .article6-div form.article6-div-form>input.Email {
	margin-top: 50px;
}
.article6 .article6-div form.article6-div-form>input.send {
	background-color: black;
	color: white;
	height: 45px;
	border: none;
	text-align: center;
}

.article6 .article6-div2>h3 {
	font-size: 1.8rem;
	font-weight: 230;
}
.article6 .article6-div2>p {
	width: 400px;
	font-size: 0.9rem;
	font-weight: 270;
	margin-top: 20px;
}

.article6 address p {
    background: url("../img/Map.png") no-repeat;
    display: block;
    background-position-y: 20px;
    padding-left: 40px;
    padding-top: 10px;
    height: 60px;
}

.article6 address a:nth-of-type(1) {
    background: url("../img/Phone.png") no-repeat;
    display: block;
    padding-left: 40px;
}

.article6 address a:nth-of-type(2) {
    background: url("../img/Mail.png") no-repeat;
    display: block;
    padding-left: 40px;
    margin-top: 20px;
    
}
.article6 address a {
    color: black;
    text-decoration: none;
}


/*最后一页*/
.footer {
	width: 100%;
    background: #000;
    padding: 50px 0 60px;
}

.colu7 {
    width: 1080px;
    margin: 0 auto;
    display: flex;
    color: #fff;
    flex-wrap: wrap;
    justify-content: space-between;
}

.colu7 a,
.colu7 p {
    color: #5b5b5b;
    font-weight: 100;
    font-size: 14px;
    text-decoration: none;
}

.colu7 dt,
.colu7 dd,
.colu7 p {
    margin-bottom: 15px;
}

.colu7 p {
    width: 200px;
}